body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  padding: 20px;
  text-align: center;
  position: relative;
}
.top{
  background-color: rgb(255, 150, 136);
  color: #ffffff;
  width: 100%;
  height: 875px;
  z-index: -1;
  margin-top:-61px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-nav {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.divisore{
  background-color: #F5F5F5;
  width: 1px;
  height: 50px;
  float: left;
}
.nav-link {
  margin-right: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  float: left;
  margin-left: 13px;
}

.nav-link:hover {
  text-decoration: underline;
}
.cambio-img{
  height: 30px;
  margin-top: -60px;
  margin-left: 10px;
}
.b1{
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.settings-btn {
  background-color: rgba(0, 128, 0, 0);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 900px;
}
.settings-btn:focus {
  outline: none;
}

.settings-btn::after {
  content: '⋮';
  font-size: 1.5em;
}
.intro {
  background-color: #ffffff;
  height: 500px;
  text-align: center;
  transform: skewY(-3deg);
  transform-origin: top left;
  position: relative;
  z-index: 1;
}
.features {
  transform: skewY(3deg);
  display: flex;
  justify-content: space-evenly;
}
.num{
  color: chocolate;
  font-size: 50px;
}
.feature1 {
  width: 200px;
  margin: 10px;
  padding: 20px;
  background: white;
  text-align: center;
top: 10px;
}
.feature2 {
  width: 200px;
  margin: 10px;
  padding: 20px;
  background: white;
  text-align: center;
}

.feature3 {
  width: 200px;
  margin: 10px;
  padding: 20px;
  background: white;
  text-align: center;
}

.feature4 {
  width: 200px;
  margin: 10px;
  padding: 20px;
  background: white;
  text-align: center;
}


.catalog {
  background-color: #333;
  color: white;
  height: 800px;
  text-align: center;
  margin-top: -150px
}

.catalog p {
  width: 80%;
  margin: auto;
  max-width: 600px;
}

.about-us {
  background-color: #F5F5F5;
  padding: 40px 20px;
  text-align: center;
  transform: skewY(3deg);
  transform-origin: top left;
  position: relative;
  z-index: 1;
  margin-top: -200px;
}

.about-us h2 {
  transform: skewY(-3deg);
  display: inline-block;
}

.team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  transform: skewY(-3deg);
}

.member {
  width: 200px;
  margin: 10px;
  text-align: center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.yellow {
  background-color: yellow;
}

footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

footer p {
  width: 80%;
  margin: auto;
  max-width: 800px;
}
