body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  width: 100%;
  overflow-x: hidden;
}
header {
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}
.esplora{
  font-size: 70px;
}
.top{
  background-color: rgb(255, 150, 136);
  color: #ffffff;
  width: 100%;
  height: 1200px;
  z-index: -1;
  margin-top: -70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.5s ease-in-out;
  padding: 50px;
  margin-left: -46px;
}
.divisore{
  background-color: #F5F5F5;
  width: 1px;
  height: 50px;
  float: left;
}
.nav-link {
  margin-right: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  float: left;
  margin-left: 13px;
  transition-duration: 1s;
}
.nav-link2 {
  margin-right: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  float: left;
  transition-duration: 1s;
}
.nav-link3 {
  margin-right: 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  float: left;
  transition-duration: 1s;
}
.cambio-img{
  height: 30px;
  margin-top: -50px;
  margin-left: 10px;
}
.b1{
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.intro {
  background-color: #00c3ff;
  clip-path: polygon(0 20%, 100% 10%, 100% 100% , 0% 90%);
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 20px;
  margin-top: -250px;
  height: 1200px;
  z-index: 1;

}
.content {
  color: #000;
  width: 38%;
  text-align: left;
  margin-left: 13%;
  font-size: 20px;
}
.shelf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  margin-left: 90px;
}
.books {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}
.book {
  position: relative;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: coral;
  background-color: white;
  transition: all 0.6s ease;
  margin: 7px;
}
#book1{
  height: 600px ;
}
#book2{
  height:500px  ;
}
#book3{
  height:800px ;
}
#book4{
  height:450px ;
}
.book:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgb(255, 215, 142);
}
.number {
  font-size: 54px;
  font-weight: bold;
  transition: all 0.6s ease;
}
.description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  font-size: 14px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}
.book:hover .number {
  font-size: 36px;
  transform: translateY(-30px);
}
.book:hover .description {
  opacity: 1;
  transform: translateY(0);
}
.shelf {
  width: 110%;
  height: 20px;
  background-color: #ffffff; /* Colore marrone per lo scaffale */
  margin-top: 20px;
}
.settings-btn {
  background-color: rgba(0, 128, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
}
.settings-btn:focus {
  outline: none;
}
.settings-btn::after {
  content: '⋮';
  font-size: 2.0em;
}
.scegliere{
  color: rgb(255, 107, 53);
  background-color: rgb(255, 255, 255);
  width: 50%;
  float: none;
  margin: 0  auto;
  height: 30px;
}
.divisore-oriz{
  background-color: rgb(255, 107, 53);
  float: none;
  margin: 0 auto;
  width: 500px;
  height: 1px;
}
.about-us {
  background-color: #333;
  color: #F5F5F5;
  height: 650px;;
  position: relative;
  z-index: 1;
  margin-top: -300px;
  display: flex;
  justify-content: space-around;
  clip-path: polygon(0 0%, 100% 20%, 100% 100% , 0% 100%);
  flex-wrap: wrap;
  align-items: center;
}
.chisiamo{
  text-align: left;
  width: 38%;
  align-content: center;
}

footer {
  background-color: #333;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 50px;
}

#infoContactUs{
  flex-grow: 5;
}

#contactUs{
  flex-grow: 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input{
  height: 70px;
  width: 700px;
  font-size: 30px;
  border-radius: 20px;
  border: 1px solid lightgray;
}

.btnForm{
  height: 70px;
  font-size: 17px;
  font-weight: bold;
  aspect-ratio: 2 / 1;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 149, 0);
  border: 2px solid rgb(201, 117, 0);
  transition-duration: 0.3s;
}

.btnForm:hover{
  background-color: transparent;
  color: white;
}

#buttonsForm{
  display: flex;
  flex-direction: row;
}

.carousel-caption {
  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(245, 237, 237);
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  text-align: center;
}

.carousel-container {
  position: relative;
  width: 45%;
  height: 1100px;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 1100px;
}

.carousel-item {
  min-width: 100%;
  height: 1100px;
}

.carousel img {
  width: 100%;
  height: 1100px;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.scopri{
  margin-top: -190px;
  height: 1200px;
  background-color: rgb(54, 54, 54);
  display: flex;
  align-items: center;
}
.testo-scroll{
  float: left;
  height: 300px;
  width: 40%;
  color: #F5F5F5;
  margin-left: 7%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.reti{
  width: 70px;
  float: left;
  margin-top: -10px;
}
.container {
    display: grid;
    grid-template-columns: repeat(20, 10px);
    grid-template-rows: repeat(20, 10px);
    gap: 2px; /* Spazio tra i div */
}
.pixel {
    width: 10px;
    height: 10px;
    background-color: #000;
}

#btnNavigaDiv{
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#btnSettingsDiv{
  margin-top: 17px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 2s ease, left 2s ease;
}

.nav-link:hover::after {
  width: 100%;
  left: 0;
}

.sidebar {
  height: 45%;
  width: 0px;
  position: fixed;
  z-index: 10;
  top: 100px;
  right: 0;
  background: white;
  opacity: 60%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 20px;
  border-radius: 20px;
  border: 0px;
  transition-duration: 0.3s;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar p {
  padding: 10px 15px;
  text-decoration: none;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidebar h3 {
  color: black;
}

.sidebar a:hover {
  color: #000000;
}

.sidebar .closebtn {
  position: absolute;
  top: 10px;
  right: 27px;
  font-size: 36px;
  margin-left: 50px;
}

#searchInput, #priceRange, #genreSelect, #searchButton {
  margin: 10px;
}


.stella {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  width: 100%;
}

.btn {
  flex-grow: 1;
}

#books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.open{
  display: inline;
  padding-left: 20px;
  width: 300px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.carousel-transition {
  transition: transform 0.5s ease;
}

.navbar.scrolled {
  background-color: white;
  color: rgb(255, 0, 0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.minilib {
  display: flex;
  height: 1300px;
  width: 100%;
  clip-path: polygon(0 20%, 100% 10%, 100% 100% , 0% 90%);
  align-items: center;
  margin-top: -350px;
  background-color: #0056b3;
}

.left-side, .right-side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side{
  height: 50%;
}

.left-side {
  padding-left: 10px;
  box-sizing: border-box;
}

.titolo-minilib {
  text-align: left;
  color: #f1f1f1;
  font-size: 20px;
  width: 40%;
}

.titolo-minilib h1 {
  margin: 0;
  font-size: 2em;
}

.titolo-minilib p {
  margin: 20px 0;
}

.explore-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.explore-link:hover {
  background-color: #0056b3;
}

.right-side .scorri-libri {
  width: 90%;
  height: 100%;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}

.member {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 50px; /* Adjust margin as needed */
}

.image-container {
  width: 100%; /* Make image container full width */
  height: 200px; /* Adjust height as needed */
  overflow: hidden;
  border-radius: 10px; /* Adjust border radius as needed */
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Adjust margin as needed */
}

#member1 {
  height: 220px; /* Adjust height as needed */
}

#member2 {
  height: 240px; /* Adjust height as needed */
}

#member3 {
  height: 260px; /* Adjust height as needed */
}

#member4 {
  height: 280px; /* Adjust height as needed */
}

.info-container {
  text-align: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%; /* Adjust width as needed */
  margin: 0 auto; /* Center horizontally */
}

.chisiamo {
  text-align: center;
  margin-top: 50px; /* Adjust margin as needed */
}
