body {
    background-color: beige;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 39px;
    text-align: center;
}

input {
    width: 300px;
}
/*div per la barra di ricerca*/
.div_saerch {
    width: 400px;
    height: 75px;
    margin-top: 50px;
}
    /*div principale*/
.mainDiv {
    margin: 0 auto;
    margin-top: -20px;
    width: 100%;
    height: 1000px;
}
/*grandezza span carosello  carolesso*/
span {
    width: 500px;
    height: 300px;
    margin: 0 auto;
}
/*grandezze generali carosello*/
.carosello_immagini {
    max-width: 500px;
    margin-top: 100px;
}
/*btn per cambaire slide carosello*/
.custom-carousel-icon {
    color: #000000 !important; /* Sovrascrivi il colore dell'icona */
}
