.book{
    border: 1px solid lightgrey;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.stella{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 5px;
}

.buttons{
    display: flex;
    width: 100%;
}

.btn{
    flex-grow: 1;
}

#books{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#searchInput {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

#priceRange {
    margin: 10px;
}

#genreSelect {
    padding: 10px;
    margin: 10px;
}

#searchButton {
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}